<nav class="navbar">
  <a href="/"><img id="logo" src="/assets/images/logo.png" alt="Advanced Events Logo" class="logo"></a>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/#events">Events</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/admin/events">Admin</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>
