# ─── MongoDB ──────────────────────────────────────────────────────────────────
# Local development
MONGO_URI="mongodb://vanderbergelcke101_db_user:ElckeEvents@ac-3p7abyr-shard-00-00.eqzwvek.mongodb.net:27017,ac-3p7abyr-shard-00-01.eqzwvek.mongodb.net:27017,ac-3p7abyr-shard-00-02.eqzwvek.mongodb.net:27017/WPR381-Advanced-Events-Pty-Ltd?ssl=true&replicaSet=atlas-h09dg6-shard-0&authSource=admin&appName=Cluster0"

# MongoDB Atlas (production) — uncomment and fill in:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/advanced_events?retryWrites=true&w=majority

# ─── Session ──────────────────────────────────────────────────────────────────
SESSION_SECRET=change_this_to_a_long_random_string_in_production

# ─── App ──────────────────────────────────────────────────────────────────────
PORT=3000
NODE_ENV=development
